.flag {
   ul {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      margin-bottom: 10px;
      li {
         width: 300px;
         height: 40px;
         margin-right: 20px;
         background-color: #3F48CC;
         text-align: center;
         a {
            color: #FFF200;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            line-height: 40px;
            cursor: pointer;
         }

         &:last-child {
            margin-right: 0;
         }
      }
   }

   // .flag__top
   &__top {
      background-color: #3F48CC;
      width: 100%;
      height: 40vh;

   }

   // .flag__bottom
   &__bottom {
      background-color: #FFF200;
      width: 100%;
      height: 40vh;
   }
   &__search {
      margin: 30px 0 0 30px;
      form {
         label {
            font-weight: 600;
         }
         input {
            border: 1px solid #000000;
            padding: 0px 5px;
         }
         button {
            border: 1px solid #000000;
            background-color: #fff !important;
            color: #000000 !important;
            width: 100px;
            height: 20px;
            margin-left: 10px;
         }
      }
   }
}

[type=search] {
   outline-offset: 0px;
}

table {
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0
}

table,
td,
th {
   border: 1px solid #000;
}

.flag__top {
   td,
   th {
      width: 10px;
      height: 10px;
      background-color: #1F4E78;
   }
   .td-active-top {
      background-color: #3F48CC;
   }
}

td {
   position: relative;
}

.flag__bottom {
   td,
   th {
      width: 10px;
      height: 10px;
      background-color: #FFD966;
      position: relative;
   }
   .td-active-bottom {
      background-color: #FFF200;
   }
}

.flag__top {
   td .tooltiptext {
      top: 10px;
   }
}

.flag__bottom {
   td .tooltiptext {
      bottom: 10px;
   }
}

.tooltiptext{
   visibility: hidden;
   width: 260px;
   background-color: #3F48CC;
   color: #fff;
   border-radius: 6px;
   padding: 5px 20px 10px 20px;
   border: 3px solid #000;
   left: 10px;
   position: absolute;
   z-index: 1;
   transition: 200ms ease-in-out;
   span {
      color: #000;
      font-weight: 600;
   }
   p {
      color: #FFF200;
      font-weight: 500;
   }
   h6 {
      color: #FFF200;
      font-weight: 500;
   }
   a {
      color: #000;
      border: 2px solid #000;
      padding: 2px;
   }
}

td:hover .tooltiptext {
   visibility: visible;
}