.flag {
   ul {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      margin-bottom: 10px;
      @media (min-width: 375px) and (max-width: 767px) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      @media (min-width: 320px) and (max-width: 374px) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      li {
         width: 300px;
         height: 40px;
         margin-right: 20px;
         background-color: #3F48CC;
         text-align: center;
         @media (min-width: 768px) and (max-width: 1023px) {
            width: 200px;
            height: 30px;
            margin-right: 10px;
         }
         @media (min-width: 375px) and (max-width: 767px) {
            width: 200px;
            height: 30px;
            margin-bottom: 10px;
            margin-right: 0;
         }
         @media (min-width: 320px) and (max-width: 374px) {
            width: 200px;
            height: 30px;
            margin-bottom: 10px;
            margin-right: 0;
         }
         a {
            color: #FFF200;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            line-height: 40px;
            cursor: pointer;
            @media (min-width: 768px) and (max-width: 1023px) {
               font-size: 1rem;
               line-height: 30px;
            }
            @media (min-width: 375px) and (max-width: 767px) {
               font-size: 1rem;
               line-height: 30px;
            }
            @media (min-width: 320px) and (max-width: 374px) {
               font-size: 1rem;
               line-height: 30px;
            }
         }

         &:last-child {
            margin-right: 0;
         }
      }
   }

   // .flag__top
   &__top {
      background-color: #1F4E78;
      width: 100%;
      // height: 40.3vh;
      min-height: 100%;
      z-index: -1;
   }

   // .flag__bottom
   &__bottom {
      background-color: #FFD966;
      width: 100%;
      // height: 40.3vh;
      min-height: 100%;
      z-index: -1;
   }
   &__search {
      margin: 30px 0 0 30px;
      form {
         @media (min-width: 375px) and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
         }
         @media (min-width: 320px) and (max-width: 374px) {
            display: flex;
            flex-direction: column;
         }
         label {
            font-weight: 600;
         }
         input {
            border: 1px solid #000000;
            padding: 0px 5px;
            @media (min-width: 375px) and (max-width: 767px) {width: 200px;margin-top: 10px;}
            @media (min-width: 320px) and (max-width: 374px) {width: 200px;margin-top: 10px;}
         }
         button {
            border: 1px solid #000000;
            background-color: #fff !important;
            color: #000000 !important;
            width: 100px;
            height: 20px;
            margin-left: 10px;
            @media (min-width: 375px) and (max-width: 767px) {
               width: 200px;
               margin-left: 0px;
               margin-top: 10px;
            }
            @media (min-width: 320px) and (max-width: 374px) {
               width: 200px;
               margin-left: 0px;
               margin-top: 10px;
            }
         }
      }
   }
}

[type=search] {
   outline-offset: 0px;
}

.tr {
   display: flex;
   flex-wrap: wrap;
   .td {
      width: 15px;
      height: 15px;
      border-right: 1px solid #333;
      border-bottom: 1px solid #333;
      cursor: pointer;
      position: relative;
   }
}

.block-flag {
   position: relative;
   overflow: hidden;
}

.tooltiptext{
   visibility: hidden;
   width: 260px;
   background-color: #3F48CC;
   color: #fff;
   border-radius: 6px;
   padding: 5px 20px 10px 20px;
   border: 3px solid #000;
   left: 20px;
   position: absolute;
   z-index: 1;
   transition: 200ms ease-in-out;
   span {
      color: #000;
      font-weight: 600;
   }
   p {
      color: #FFF200;
      font-weight: 500;
   }
   h6 {
      color: #FFF200;
      font-weight: 500;
   }
   a {
      color: #000;
      border: 2px solid #000;
      padding: 2px;
   }
}

.td:hover .tooltiptext {
   visibility: visible;
}

.td:nth-child(n+120) {
   .tooltiptext {
      left: -264px;
   }
}

.td-active-top {
   background-color: #3F48CC;
}

.td-active-bottom {
   background-color: #FFF200;
}