.flag {
   ul {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      margin-bottom: 10px;
      li {
         width: 300px;
         height: 40px;
         margin-right: 20px;
         background-color: #3F48CC;
         text-align: center;
         a {
            color: #FFF200;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            line-height: 40px;
            cursor: pointer;
         }

         &:last-child {
            margin-right: 0;
         }
      }
   }

   // .flag__top
   &__top {
      background-color: #3F48CC;
      width: 100%;
      height: 47vh;

   }

   // .flag__bottom
   &__bottom {
      background-color: #FFF200;
      width: 100%;
      height: 47vh;
   }
}

table {
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0
}

table,
td,
th {
   border: 1px solid #000;
}

.flag__top {
   td,
   th {
      width: 10px;
      height: 10px;
      background-color: #1F4E78;
   }
   .td-active-top {
      background-color: #3F48CC;
   }
}

.flag__bottom {
   td,
   th {
      width: 10px;
      height: 10px;
      background-color: #FFD966;
      position: relative;
   }
   .td-active-bottom {
      background-color: #FFF200;
   }
}

td .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;

   /* Position the tooltip */
   position: absolute;
   z-index: 1;
}

td:hover .tooltiptext {
   visibility: visible;
}